/*  TABLE */
body {
  font-family: 'lato', sans-serif;
}
.container {
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.responsive-table {
  li {
    border-radius: 15px;
    padding: 25px;
    display: flex;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #f2a50084;
    font-size: 18px ;
    color: white;
    font-size: 20px;
  }
  .table-row {
    background-color: #00000084;
    box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.1);
    color: white ;
  }
  .col-1 {
    flex-basis: 14%;
  }
  .col-2 {
    flex-basis: 40%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 25%;
  }
  
  @media all and (max-width: 1000px) {
    .table-header {
      display: none;
    }
    
    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 20px 0;
      &:before {
        color: #6C7A89;
        content: attr(data-label);
        text-align: right;
      }
    }
  }
}
/* START CSS BTN DELETE */


/* END CSS BTN DELETE */

.btnCreate {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all .2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: rgb(0, 179, 255);
  background-color: white;
 }
 
 .btnCreate:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 }
 
 .btnCreate:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 
 .btnCreate::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
 }
 
 .btnCreate::after {
  background-color: #00000000;
 }
 
 .btnCreate:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
 }

a {
  text-decoration: none;
}

i {
  vertical-align: middle;
  font-size: 24px;
}

.main-fab {
  position:absolute;
  z-index:20;
  font-size:30px;
  top:100px;
  left:24px;
  transform:scale(.88,.88);
}

.md-breadcrumb {
  padding-left:88px;  
}

.JCLRgrip:first-child {
  left:105px!important;
  display: none!important;
}

.JColResizer th:first-child {
  width: 105px!important;
}

.md-table {
  min-width: 100%;
  border-collapse: collapse;
}

.md-table tbody tr:hover, .md-table tbody tr:focus {
  cursor:pointer;
  background-color:rgba(63,81,181,0.2);
}

.md-table-header {
  border-bottom: 1px solid rgb(230,230,230);
  color: rgb(130,130,130);
  text-align: left;
  font-size: 0.75em;
  font-weight: 700;
  padding: 16px 16px 16px 0;
}

.md-table-header a{
  text-decoration: none;
  color: inherit;
}

.md-table-content {
  white-space: nowrap;
  font-size: 0.8em;
  padding: 16px 16px 16px 0;
  height: 72px;
}

.md-table-td-more {
  max-width:72px;
  width:72px;
  padding:16px;
}

.md-table-thumbs {
  max-width: 104px;
  width: 104px;
  padding: 16px 32px;
}

.md-table-thumbs div {
  overflow:hidden;
  width: 40px;
  height:40px;
  border-radius:20px;
  border: 1px solid rgba(0,0,0,0.2);
  background-size:cover;
  box-shadow: 0 8px 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 8px 10px rgba(0,0,0,.1);
}

.md-table-footer {
  height:40px;
  padding-left: 32px;
  padding-right: 32px;
}

.md-table-count-info {
  line-height:40px;
  font-size:.75em;
}

.md-table-footer-item {
  width: 40px;
  height: 40px;
  vertical-align:middle;
}

.md-table-active-page {
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.grey {
  color: grey;
}

md-input-container.md-default-theme .md-input {
  color: white;
  border-color: white;
}

.addhightable{
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

/*  BUTTON DELETED  */

.editBtn {
  width: 55px;
  height: 55px;
  border-radius: 20px;
  border: none;
  background-color: #f0a500;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border: 3px solid rgb(255, 201, 201);

}
.editBtn::before {
  content: "";
  width: 200%;
  height: 200%;
  background-color: #ffffff5a;
  position: absolute;
  z-index: 1;
  transform: scale(0);
  transition: all 0.3s;
  border-radius: 50%;
  filter: blur(10px);
}
.editBtn:hover::before {
  transform: scale(1);
}
.editBtn:hover {
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.336);
}

.editBtn svg {
  height: 17px;
  fill: rgb(0, 0, 0);
  z-index: 3;
  transition: all 0.2s;
  transform-origin: bottom;
}
.editBtn:hover svg {
  transform: rotate(-15deg) translateX(5px);
}
.editBtn::after {
  content: "";
  width: 25px;
  height: 1.5px;
  position: absolute;
  bottom: 19px;
  left: -5px;
  background-color: #000000;
  border-radius: 2px;
  z-index: 2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}
.editBtn:hover::after {
  transform: scaleX(1);
  left: 0px;
  transform-origin: right;
}




/* BIN BUTTON */

.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 15px;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 3px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
}
.bin-bottom {
  width: 15px;
}
.bin-top {
  width: 17px;
  transform-origin: right;
  transition-duration: 0.3s;
}
.bin-button:hover .bin-top {
  transform: rotate(45deg);
}
.bin-button:hover {
  background-color: rgb(255, 0, 0);
}
.bin-button:active {
  transform: scale(0.9);
}

/* END HERE */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #f2a600;
  --background: #222b45;
  --warning: #f2a600;
  --success: #12c99b;
  --error: #e41749;
  --dark: #151a30;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--background);
}

.confirm .alert {
  min-height: 67px;
  width: 560px;
  max-width: 90%;
  border-radius: 12px;
  padding: 16px 22px 17px 20px;
  display: flex;
  align-items: center;
}
.confirm .alert-warning {
  background: var(--warning);
}
.confirm .alert-success {
  background: var(--success);
}
.confirm .alert-primary {
  background: var(--primary);
}
.confirm .alert-dark {
  background: var(--dark);
}
.confirm .alert-error {
  background: var(--error);
}
.confirm .alert .icon__wrapper {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.253);
  display: flex;
  align-items: center;
  justify-content: center;
}
.confirm .alert .icon__wrapper span {
  font-size: 21px;
  color: #fff;
}
.confirm .alert p {
  color: #fff;
  font-family: Verdana;
  margin-left: 10px;
}
.confirm .alert p a,
.confirm .alert p a:visited,
.confirm .alert p a:active {
  color: #fff;
}
.confirm .alert .open {
  margin-left: auto;
  margin-right: 5px;
}
.confirm .alert .close, .alert .open {
  color: #fff;
  transition: transform 0.5s;
  font-size: 18px;
  cursor: pointer;
}
.confirm .alert .close:hover, .alert .open:hover {
  transform: scale(1.3);
}

.btnCreate {
  color: #f2a600;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #f2a600;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.btnCreate:hover {
  color: white;
}

.btnCreate::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: #f2a600;
  z-index: -1;
  transition: all 1s;
}

.btnCreate:hover::before {
  width: 160%;
}

.bg-late{
  background: #f16262;
  color: #12c99b;
}
.btnLate {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #f87800;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor:default;
}

.btnLate:hover {
  opacity: .95;
}

.btnLate .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}

.btnOntime {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #40B3A2;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor:default;
}

.btnOntime:hover {
  opacity: .95;
}

.btnOntime .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}
.card{
  background-color: #00ca4d00;
  color: black;
  font: optional;
  text-align: center;
  display: flex;
  justify-items: center;
  box-shadow: 5px 5px 5px #fbfbfb;
  width: 100%;


}

.cardcode {
  width: 50%;
  height: auto;
  margin: 0 auto;
  background-color: #011522;
  border-radius: 35px;
  z-index: 1;
  box-shadow: 15px 15px 15px #000000;
  margin-bottom: 30px;
  
 }
 
 .tools {
  display: flex;
  align-items: center;
  padding: 9px;
  margin-inline-start: 30px;
 }
 
 .circle {
  padding: 0 4px;
 }
 
 .boxcode {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
 }
 
 .red {
  background-color: #ff605c;
 }
 
 .yellow {
  background-color: #ffbd44;
 }
 
 .green {
  background-color: #00ca4e;
 }
 