<div class="container">
  <form (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="row">
      <h4>โครงการใหม่</h4>
      <div class="input-group input-group-icon">
        <input
          type="text"
          [(ngModel)]="project.name"
          name="name"
          placeholder="ชื่อโครงการ"
        />
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input
          type="text"
          [(ngModel)]="project.detail"
          name="detail"
          placeholder="รายละเอียดของโครงการ"
        />
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
      </div>
    </div>
    <div class="row">
      <div class="col-half">
        <h4>วันเริ่มโครงการ</h4>
        <div class="input-group">
          <input
            type="date"
            [(ngModel)]="project.startDate"
            name="startdate"
            placeholder="Date Start Project"
          />
        </div>
      </div>
      <div class="col-half">
        <h4>วันสิ้นสุดโครงการ</h4>
        <div class="input-group">
          <input
            type="date"
            [(ngModel)]="project.endDate"
            name="enddate"
            placeholder="Date End Project"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <h4>กิจกรรมโครงการ</h4>
      <div class="container">
        <div class="row">
          <table class="mb-3">
            <thead>
              <tr class="text-center">
                <th colspan="3">Activity Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <ng-container
                *ngTemplateOutlet="recursiveListTmpl; context:{ list: project.activities, level: 1 }"
              ></ng-container>
            </tbody>
          </table>
          <div class="row">
            <div class="col-half">
              <button
                type="button"
                (click)="addParentActivity()"
                class="button"
              >
                เพิ่มกิจกรรมแม่
                <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                  <path
                    clip-rule="evenodd"
                    d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <button type="submit" class="button mt-3">
          บันทึกข้อมูลโครงการ
          <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
            <path
              clip-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </button>
          <button type="button" class="noselect buttondelete mt-3 ms-3" (click)="deleteProject(project.id)">
            <span class="text">ลบข้อมูลโครงการ</span
            ><span class="icon"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
                ></path></svg></span>
          </button>
      </div>

      <ng-template #recursiveListTmpl let-list="list" let-level="level">
        <ng-container *ngFor="let item of list;  ">
          <ng-container *ngIf="item.isDeleted != true">
            <tr>
              <td *ngFor="let l of forfirsttd(level)"></td>
              <td>
                <input
                  [(ngModel)]="item.name"
                  [ngModelOptions]="{standalone:true}"
                  placeholder="ชื่อกิจกรรม"
                  required
                />
              </td>
              <td *ngFor="let l of forlasttd(level)"></td>
              <td>
                <button
                  type="button"
                  *ngIf="level < 3"
                  (click)="addChildActivity(item)"
                  class="btn btn-warning ms-3"
                >
                  เพิ่มกิจกรรมลูก
                </button>
                <button
                  type="button"
                  (click)="deleteInverseActivity(item)"
                  class="btn btn-danger ms-3"
                >
                  ลบกิจกรรมนี้
                </button>
              </td>
            </tr>
            <ng-container
              *ngTemplateOutlet="recursiveListTmpl; context:{ list: item.inverseActivityHeader, level: level + 1 }"
            ></ng-container>
          </ng-container>
        </ng-container>
      </ng-template>
    </div>
  </form>
</div>
