<div class="container">
  <form (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="row">
      <h4>โครงการใหม่</h4>
      <div class="input-group input-group-icon">
        <input
          type="text"
          [(ngModel)]="project.name"
          name="name"
          placeholder="ชื่อโครงการ"
          matInput value="projectname"
          required
        />
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input
          type="text"
          [(ngModel)]="project.detail"
          name="detail"
          placeholder="รายละเอียดของโครงการ"
        />
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
      </div>
    </div>
    <div class="row">
      <div class="col-half">
        <h4>วันเริ่มโครงการ</h4>
        <div class="input-group">
          <input
            type="date"
            [(ngModel)]="project.startDate"
            [min]="minDate"
            name="startdate"
            placeholder="Date Start Project"
            (ngModelChange)="onStartDateChange()"
            required
          />
          
        </div>
      </div>
      <div class="col-half">
        <h4>วันสิ้นสุดโครงการ</h4>
        <div class="input-group">
          <input
            type="date"
            [(ngModel)]="project.endDate"
            [min]="minEndDate"
            (ngModelChange)="onStartDateChange()"
            name="enddate"
            placeholder="Date End Project"
            required
          />
          <div *ngIf="isDateInvalid" style="color: red;">
            ****วันสิ้นสุดโครงการไม่สามารถกรอกเป็นวันที่มาก่อนโครงการได้
          </div>
        </div>
      </div>
    </div>
    <div class="row border-top mt-3">
      <h4 class="mt-3">กิจกรรมโครงการ</h4>
      <div class="container">
        <div class="row">
          <table class="mb-3">
            <thead>
              <tr class="text-center">
                <th colspan="3">Activity Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <ng-container
                *ngTemplateOutlet="recursiveListTmpl; context:{ list: project.activities, level: 1 }"
              ></ng-container>
            </tbody>
          </table>
          <div class="row">
            <div class="col-half">
              <button
                type="button"
                (click)="addParentActivity()"
                class="button"
              >
                เพิ่มกิจกรรมแม่
                <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                  <path
                    clip-rule="evenodd"
                    d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="border-top mt-3">
        <h4 class="mt-3"> อัพโหลดไฟล์ที่เกี่ยวข้องกับโปรเจค</h4>
        <label for="file" class="file-upload-label mt-2 mb-2">
          <div class="file-upload-design">
            <svg viewBox="0 0 640 512" height="1em">
              <path
                d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z"
              ></path>
            </svg>
            <span class="browse-button">นำเข้าไฟล์</span>
          </div>
          <input id="file" type="file" (change)="uploading($event)" multiple/>
        </label>
        <div class="d-flex card w-25 mt-3">
          <div *ngFor="let item of files; let i = index" class="d-flex mt-1 mb-1">
            <p class="ms-3 mt-3">{{i+1}}</p>
            <p class="ms-3 mt-3">{{item.name}}</p>
            <div class="align-items-end">
            <button
                    class="bin-button ms-3 "
                    (click)="deleteSelect(i)"
                  >
                    <svg
                      class="bin-top"
                      viewBox="0 0 39 7"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <line
                        y1="5"
                        x2="39"
                        y2="5"
                        stroke="white"
                        stroke-width="4"
                      ></line>
                      <line
                        x1="12"
                        y1="1.5"
                        x2="26.0357"
                        y2="1.5"
                        stroke="white"
                        stroke-width="3"
                      ></line>
                    </svg>
                    <svg
                      class="bin-bottom"
                      viewBox="0 0 33 39"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <mask id="path-1-inside-1_8_19" fill="white">
                        <path
                          d="M0 0H33V35C33 37.2091 31.2091 39 29 39H4C1.79086 39 0 37.2091 0 35V0Z"
                        ></path>
                      </mask>
                      3
                      <path
                        d="M0 0H33H0ZM37 35C37 39.4183 33.4183 43 29 43H4C-0.418278 43 -4 39.4183 -4 35H4H29H37ZM4 43C-0.418278 43 -4 39.4183 -4 35V0H4V35V43ZM37 0V35C37 39.4183 33.4183 43 29 43V35V0H37Z"
                        fill="white"
                        mask="url(#path-1-inside-1_8_19)"
                      ></path>
                      <path
                        d="M12 6L12 29"
                        stroke="white"
                        stroke-width="4"
                      ></path>
                      <path d="M21 6V29" stroke="white" stroke-width="4"></path>
                    </svg>
                  </button>
                </div>
          </div>
        </div>
      </div>
      <div class="col-half">
        <button type="submit" class="button mt-3">
          บันทึกข้อมูลโครงการ
          <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
            <path
              clip-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>

      <ng-template #recursiveListTmpl let-list="list" let-level="level">
        <ng-container *ngFor="let item of list; let i = index">
          <tr>
            <td *ngFor="let l of forfirsttd(item.lv)"></td>
            <td>
              <input
                [(ngModel)]="item.name"
                [ngModelOptions]="{standalone:true}"
                placeholder="ชื่อกิจกรรม"
                required
              />
            </td>
            <td *ngFor="let l of forlasttd(item.lv)"></td>
            <td>
              <button
                type="button"
                *ngIf="level < 3"
                (click)="addChildActivity(item)"
                class="btn btn-warning ms-3"
              >
                เพิ่มกิจกรรมลูก
              </button>
              <button
                type="button"
                (click)="deleteInverseActivity(i,item)"
                class="btn btn-danger ms-3"
              >
                ลบกิจกรรมนี้
              </button>
            </td>
          </tr>
          <ng-container
            *ngTemplateOutlet="recursiveListTmpl; context:{ list: item.inverseActivityHeader, level: level + 1 }"
          ></ng-container>
        </ng-container>
      </ng-template>
    </div>
  </form>
</div>

<button  id="btn-message" class="button-message">
	<div class="content-avatar">
		<div class="status-user"></div>
		<div class="avatar">
			<svg class="user-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,12.5c-3.04,0-5.5,1.73-5.5,3.5s2.46,3.5,5.5,3.5,5.5-1.73,5.5-3.5-2.46-3.5-5.5-3.5Zm0-.5c1.66,0,3-1.34,3-3s-1.34-3-3-3-3,1.34-3,3,1.34,3,3,3Z"></path></svg>
		</div>
	</div>
	<div class="notice-content">
		<div class="username">Jessica Sanders</div>
		<div class="lable-message">Message<span class="number-message">3</span></div>
		<div class="user-id">ALERT</div>
	</div>
</button>
