<nav class="mask">
  <a routerLink="#"></a>
  <a class="mytheme ms-3"> DATE TIME NOW | </a>
  <a class="ms-2">{{ thailandTime }}</a>
  <ul class="list">
    <li>
      <a class="nav-link" routerLink="projectlist"
        >ProjectList <span class="sr-only"></span
      ></a>
    </li>
    <li>
      <a class="nav-link" routerLink="signinpage"
        >Signin <span class="sr-only"></span
      ></a>
    </li>
    <li>
      <a class="nav-link" routerLink="upload"
        >UPLOAD IMAGE<span class="sr-only"></span
      ></a>
    </li>
  </ul>
  <button class="search">Search</button>
  <button class="menu">Menu</button>
</nav>
<div style="margin-top: 100px">
  <router-outlet></router-outlet>
</div>


